<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inside stream page!!</h1>
    <p id="stream" style="font-size:15px ;text-align: center;"></p>

    <div class="stream_radios">
        <h2> Do You Like to Stream?</h2>
        <input type="radio" id="yes" value="YES" name="response">
        <label for="response">YES</label><br>
        <input type="radio" id="no" value="NO" name="response">
        <label for="response">NO</label><br>
    </div>


    <form action="https://google.com">
        <input type="submit" value="Start Streaming" />
    </form>
</body>
</html>